.translation-service {
    padding-right: 2px;
}

.google_lang_from {
    padding-left: 2px;
}

.select_from_g {
    margin: 0px 2px 12px 2px;
}

.select_from_y {
    margin: 0px 2px 12px 2px;
}

.select_to_g {
    margin-left: 2px;
}

.select_to_y {
    margin-left: 2px;
}

.check {
    padding-top: 10px;
}
