.translation-service {
    padding-right: 2px;
}

.select_from_g {
    margin: 11px 0px 11px 2px;
    padding-right: 5px;
}

.select_from_y {
    margin: 11px 0px 11px 2px;
    padding-right: 25px;
}

.select_to_g {
    margin-left: 2px;
    padding-right: 23px;
}

.select_to_y {
    margin-left: 2px;
    padding-right: 55px;
}

.check {
    padding-top: 10px;
}
